@import "tailwindcss";

@theme {
  /* Tipografía */
  --font-sans: "Inter", sans-serif;

  /* Colores */
  --color-sage-green: #C8D0C2;
  --color-warm-white: #FAF9F7;
  --color-mist-gray: #E7E9E6;
  --color-forest-green: #55665A;
}